.sass-cache/
__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/

build/
dist/
*.egg-info/

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.pytest_cache/


.ipynb_checkpoints


*.log

.DS_Store
Thumbs.db


.env
.env.*
*.env


*.tar
Dockerfile
.dockerignore


*.tfstate
*.tfstate.*
*.backup
.terraform/
crash.log
override.tf
override.tf.json
terraform.tfvars
terraform.tfvars.json
*.tfplan


