
.git
.gitignore


__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pdm.toml
*.mypy_cache
*.pytest_cache
*.coverage
.cache/

venv/
env/
.venv/

node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml


.DS_Store
Thumbs.db
*.swp
*.swo
*.bak

Dockerfile
.dockerignore


dist/
build/
